.skill{
    display: flex;
    justify-content: space-around;
}

.skill p{
    color:#C4C4C4;
}

.lado-esquerdo-skils{
    margin-left: -120px;
}

.lado-direito-skils{
    margin-right: 250px;
}

.bar{
    height: 13px;
    width: 300px;
    border-radius: 12px;
}

.html{
    background-color: #6518B4;
    width: 100%;
    animation: html 3s ;
    border-radius: 9px;
}

@keyframes html {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
  
}

.css{
    background-color: #6518B4;
    width: 90%;
    animation: css 3s;
    border-radius: 9px;
}

@keyframes css {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.javascript{
    background-color:  #6518B4;
    width: 80%;
    animation: javascript 3s;
    border-radius: 9px;
}

@keyframes javascript {
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }
}

.vuejs{
    background-color:  #6518B4;
    width: 75%;
    animation: vuejs 3s;
    border-radius: 9px;
}

@keyframes vuejs {
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }
}

.java{
    background-color:  #00D2DF;
    width: 100%;
    animation: java 3s;
    border-radius: 9px;
}

@keyframes java {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}

.groovy{
    background-color:  #00D2DF;
    width: 90%;
    animation: groovy 3s;
    border-radius: 9px;
}

@keyframes groovy {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.spring{
    background-color:  #00D2DF;
    width: 70%;
    animation: spring 3s;
    border-radius: 9px;
}

@keyframes spring {
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}

.sql{
    background-color:  #00D2DF;
    width: 90%;
    animation: sql 3s;
    border-radius: 9px;
}

@keyframes sql {
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

.skill::after{
    content: 'SOFT';
    position: absolute;
    top: -15%;
    left: 70%;
    font-weight: 800;
    font-size: 10em; 
    color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}

.skill::before{
    content: 'SKILLS';
    position: absolute;
    top: 85%;
    left: -15%;
    font-weight: 800;
    font-size: 10em; 
    color: rgba(0, 0, 0, 0.1);
    opacity: 0.8;
}
