#experiencia{
    display: flex;
    margin-top: -20px;
    background-color: #151515;
    color: white;
    overflow: hidden;
    padding-bottom: 80px;
}

.options-experiencias{
    margin-left: 183px;
    margin-top: 80px;
}

.options-experiencias h1{
    text-transform: uppercase;
}

.descricao-experiencia{
    margin: 0px 120px 0px 40px;
}

.dados-experiencia{
    display: flex;
    justify-content: center;
}

.periodo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#cargo-experiencia{
    color: #10D7E2;
}

#text-experiencia{
    margin-top: 35px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    color: #C4C4C4;
    font-weight: 400;
}

.titles{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 70px;
    width: 220px;
    background-color: #121212;
    margin-top: 1px;
    font-size: 18px;
}

.titles:hover{
    cursor: pointer;
}

.activeExperience{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, #9358F7, #10D7E2 100%) 1;
    color: #10D7E2;
}


@media screen and (max-width: 839px) {

    .dados-experiencia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .options-experiencias{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 10px;
    }

    .descricao-experiencia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px 40px 0px 40px;
    }

    .periodo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 1100px) and (min-width: 840px){

    .descricao-experiencia{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }

    .periodo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start
    }

    .titles{
        height: 150px;
        width: 220px;
    }

}