#experiencia{
    display: flex;
    margin-top: -20px;
    height: 540px;
    background-color: #151515;
    color: white;
    overflow: hidden;
}

.options-experiencias{
    margin-left: 183px;
    margin-top: 80px;
}

.options-experiencias h1{
    text-transform: uppercase;
}

.descricao-experiencia{
    margin: 0px 120px 0px 40px;
}

.dados-experiencia{
    display: flex;
    justify-content: center;
}

.periodo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

#cargo-experiencia{
    color: #10D7E2;
}

.text-experiencia{
    margin-top: 35px;
    text-align: justify;
    font-size: 18px;
    line-height: 30px;
    color: #C4C4C4;
    font-weight: 400;
}

.titles{
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 90px;
    width: 220px;
    background-color: #121212;
    margin-top: 1px;
    font-size: 18px;
}

.titles:hover{
    cursor: pointer;
}

.activeExperience{
    border-left: 4px solid;
    border-image: linear-gradient(180deg, #9358F7, #10D7E2 100%) 1;
    color: #10D7E2;
}