nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#C4C4C4;
}

.titulo{
    color: #00D2DF;
    font-size: 18px;
    margin-left: 180px;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 180px;
}

li{
    display: flex;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

ul a{
    margin-left: 15px;
    margin-right: 15px;
}

li:hover{
    cursor: pointer;
    color: #00D2DF;
    transition: 1.5s;
}

#navBar-responsivo{
    display: none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #151511;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    position: fixed;
    opacity: 0.99;
    overflow: hidden;
    transition: all 0.5s;
}

.nav-button{
    display: none;
}

@media screen and (max-width: 800px) {

    li{
        font-weight: 500;
    }

    nav{
        display: flex;
        justify-content: space-between;
    }

    header{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titulo{
        margin-left: 70px;
    }

    .nav-button{
        display: flex;
        border: 0;
        background-color: transparent;
        margin-bottom: 10px;
    }

    ul {
       display: none;
        margin-right: 180px;
    }

    .closebtn{
        font-size: 60px;
        margin-left: 90%;
        margin-top: -20%;
    }

    #menu-responsivo{
        text-transform: uppercase;
        font-size: 80px;
        margin: 100px 0px 15px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;
    }

    #menu-responsivo a li{
        font-size: 40px;
        line-height: 60px;
    }
}