#sobre-mim{
    position: relative;
    overflow: hidden;
    display: flex;
    color: white;
    background-color: #151515;
    z-index: 10;
    margin-top: -50px;
    padding-bottom: 80px;
}

.conteudo-sobre{
    margin-left: 183px;
    margin-top: 80px;
    line-height: 29px;
}

.conteudo-sobre h1{
    font-weight: 600;
    font-size: 24px;
}

.conteudo-sobre h3{
    font-weight: 600;
    font-size: 15px;
}

.conteudo-sobre p{
    width: 600px;
    font-weight: 500;
    text-align: justify;
    color:#C4C4C4;
}

.conteudo-sobre span{
    color: #00D2DF;
}

.botao-linkedin{
    border-image: linear-gradient(90deg, #9358F7, #10D7E2 100%) 1;
    margin-right: 20px;
}

.botao-linkedin:hover{
    border-image: linear-gradient(90deg, #D24074, #6518B4 100%) 1;
    transition: 1s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.botao-github{
    border-image: linear-gradient(90deg, #D24074, #6518B4 100%) 1;
}

.botao-github:hover{
    border-image: linear-gradient(90deg, #9358F7, #10D7E2 100%) 1;
    transition: 1s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#photo{
    width: 300px;
    height: 300px;
    margin-left: 200px;
    margin-top: 120px;
    border-radius: 50%;
    box-shadow: 0 0 2em #6518B4;
}

#photo img{
    width: 300px;
    height: 300px;
}

#photo img:hover{
    cursor: pointer;
    opacity: 0.7;
    transition: 1.5s;
}


@media screen and (max-width: 700px) {

    
    #photo{
        display: none;
    }

    .conteudo-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-left: 10px;
        margin-top: 80px;
        line-height: 29px;
    }
    
    .conteudo-sobre p{
        width: 350px;
    }
 
    #sobre-mim{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #151515;
        z-index: 10;
        margin-top: -50px;
        padding-bottom: 80px;
    }
}

@media screen and (min-width: 701px) and (max-width: 1100px){

    
    #photo{
        display: none;
    }

    .conteudo-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-left: 10px;
        margin-top: 80px;
        line-height: 29px;
    }
    
    .conteudo-sobre p{
        width: 550px;
    }
 
    #sobre-mim{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #151515;
        z-index: 10;
        margin-top: -50px;
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1450px) and (min-width: 1101px){


    .conteudo-sobre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 350px;
        margin-left: 10px;
        margin-top: 80px;
        line-height: 29px;
    }
    
    .conteudo-sobre p{
        width: 550px;
    }
 
    #sobre-mim{
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: #151515;
        z-index: 10;
        margin-top: -50px;
        padding-bottom: 80px;
    }
}
