@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

button{
    width: 160px;
    height: 45px;
    background-color: #121212;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    padding-left:50px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

button img{
    position: absolute;
    margin-top: -5px;
    margin-left: -40px;
}

::-webkit-scrollbar {
    width: 10px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #151515;  
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #00D2DF;
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #00D2DF;
}