@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: "Inter";
    margin: 0;
    padding: 0;
}

nav{
    z-index: 2;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:#C4C4C4;
    background-color: #121212;
    width: 100%;
}

ul{
    list-style: none;
    display: flex;
    margin-right: 160px;
}

li{
    display: flex;
    padding-right: 62px;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
}

li:hover{
    cursor: pointer;
    color: #00D2DF;
    transition: 1.5s;
}


.img-modelo{
    margin-bottom: -20px;
}

button{
    width: 160px;
    height: 45px;
    background-color: #121212;
    color: white;
    border-radius: 4px;
    font-size: 15px;
    padding-left:50px;
    margin-top: 30px;
}

a{
    text-decoration: none;
    color: white;
}

button:hover{
    cursor: pointer;
}

button img{
    position: absolute;
    margin-top: -5px;
    margin-left: -40px;
}